@{
    ViewBag.Title = "Trang chủ";
    Layout = null;
}
<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
<head>
    <title>CỔNG DU LỊCH THÁI NGUYÊN</title>
    <meta name="description" content="Developed by Du lịch Thái Nguyên, NukeViet" />
    <meta name="keywords" content="du lịch, thái nguyên, trà, du lịch, thái nguyên, thai nguyen, du lich thai nguyen, du lịch thái nguyên, tourism, travel, du lịch, trà, chè, núi cốc, hồ, vai miếu, khách sạn, nhà hàng, món ăn, chợ, taxi, atm, ngân hàng" />
    <meta name="news_keywords" content="du lịch, thái nguyên, trà, du lịch, thái nguyên, thai nguyen, du lich thai nguyen, du lịch thái nguyên, tourism, travel, du lịch, trà, chè, núi cốc, hồ, vai miếu, khách sạn, nhà hàng, món ăn, chợ, taxi, atm, ngân hàng" />
    <meta name="author" content="CỔNG DU LỊCH THÁI NGUYÊN" />
    <meta name="copyright" content="CỔNG DU LỊCH THÁI NGUYÊN [nhanlh@thainguyen.gov.vn]" />
    <meta name="robots" content="index, archive, follow, noodp" />
    <meta name="googlebot" content="index,archive,follow,noodp" />
    <meta name="msnbot" content="all,index,follow" />
    <meta name="generator" content="NukeViet v4.x" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Thông tin tổng hợp" />
    <meta property="og:type" content="WebPage" />
    <meta property="og:description" content="Developed by Du lịch Thái Nguyên, NukeViet" />
    <meta property="og:site_name" content="CỔNG DU LỊCH THÁI NGUYÊN" />
    <meta property="og:url" content="http://thainguyentourism.vn/vi/" />
    <link rel="author" href="https://plus.google.com/113453801092306744163/" />
    <link rel="canonical" href="http://thainguyentourism.vn/vi/" />
    <link rel="alternate" href="/vi/news/rss/" title="Thông tin tổng hợp" type="application/rss+xml" />
    <link rel="alternate" href="/vi/news/rss/Tin-tuc/" title="Thông tin tổng hợp - Tin tức" type="application/rss+xml" />
    <link rel="alternate" href="/vi/news/rss/Trong-tinh/" title="Thông tin tổng hợp - Trong tỉnh" type="application/rss+xml" />
    <link rel="alternate" href="/vi/news/rss/Trong-nuoc/" title="Thông tin tổng hợp - Trong nước" type="application/rss+xml" />
    <link rel="alternate" href="/vi/news/rss/Quoc-te/" title="Thông tin tổng hợp - Quốc tế" type="application/rss+xml" />
    <link rel="alternate" href="/vi/news/rss/thong-cao-bao-chi/" title="Thông tin tổng hợp - Thông cáo báo chí" type="application/rss+xml" />
    <link rel="alternate" href="/vi/news/rss/Quan-tang-Luu-niem/" title="Thông tin tổng hợp - Quàn tặng, Lưu niệm" type="application/rss+xml" />
    <link rel="shortcut icon" href="/themes/default/favicon.ico" />
    <link rel="apple-touch-icon" href="/themes/default/apple-touch-icon.png" />
    <link href="~/CỔNG DU LỊCH THÁI NGUYÊN_files/ce2ef6deb98210c34d168c454170101b.opt.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/files/css/theme_default_0.css?t=19" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <link href="~/CỔNG DU LỊCH THÁI NGUYÊN_files/theme_default_0.css" rel="stylesheet" />
    <script src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/jquery.min.js"></script>
    <script src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/jquery.metisMenu.js"></script>
    <script src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/jquery.eislideshow.js"></script>
    <script src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/jquery.roundabout.min.js"></script>
    <script src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/responsiveCarousel.min.js"></script>
    <script src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/vi.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        var nv_siteroot = "/", nv_sitelang = "vi", nv_name_variable = "nv", nv_fc_variable = "op", nv_lang_variable = "language", nv_module_name = "news", nv_my_ofs = 7, nv_my_abbr = "ICT", nv_cookie_prefix = "nv3c_Znjjs", nv_area_admin = 0;
        //]]>
    </script>
    <script src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/global.js"></script>
    <script src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/user.js"></script>
    <script src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/shadowbox.js"></script>
    <script src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/main.js"></script>
    <!--[if lt IE 9]>
           <script type="text/javascript" src="/themes/default/js/html5shiv.js?t=19"></script>
           <script type="text/javascript" src="/themes/default/js/respond.min.js?t=19"></script>
           <![endif]-->

    <script type="text/javascript">
        //<![CDATA[
        Shadowbox.init();
        //]]>
    </script>
    <script src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/user1.js"></script>
</head>
<body>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
    <noscript>
        <div class="alert alert-danger">
            Trình duyệt của bạn đã tắt chức năng hỗ trợ JavaScript.<br />
            Website chỉ làm việc khi bạn bật nó trở lại.<br />
            Để tham khảo cách bật JavaScript, hãy click chuột <a href="http://wiki.nukeviet.vn/support:browser:enable_javascript">vào đây</a>!
        </div>
    </noscript>
    <div id="wraper">
        <header>
            @Html.Partial("~/Views/Header_Top/Index.cshtml")
        </header>
        <nav>
            <div class="container">
                <div class="row">
                    @Html.Action("Index", "HeaderLanding")
                    @Html.Partial("~/Views/Banner/Index.cshtml")
                </div>
            </div>
        </nav>
        <section>
            <div class="container" id="body">
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-sm-3">
                        <div class="news_column">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="/vi/news/Tin-tuc/10-diem-du-lich-van-hoa-tam-linh-tieu-bieu-tai-Thai-Nguyen-1016.html" title="10 điểm du lịch văn hóa tâm linh tiêu biểu tại Thái Nguyên"><img alt="10 điểm du lịch văn hóa tâm linh tiêu biểu tại Thái Nguyên" src="/files/news/2021_09/2_1.jpg" width="200" class="img-thumbnail pull-left imghome" /></a>
                                    <h3><a href="/vi/news/Tin-tuc/10-diem-du-lich-van-hoa-tam-linh-tieu-bieu-tai-Thai-Nguyen-1016.html" title="10 điểm du lịch văn hóa tâm linh tiêu biểu tại Thái Nguyên">10 điểm du lịch văn hóa tâm linh tiêu biểu tại Thái Nguyên</a> <span class="icon_new">&nbsp;</span></h3>
                                    <p class="text-justify">Trung tâm Thông tin xúc tiến du lịch Thái Nguyên giới thiệu 10 điểm đến du lịch văn hóa tâm linh tiêu biểu trên địa bàn tỉnh.</p>
                                </div>
                            </div>
                        </div>
                        <div class="news_column">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="/vi/news/Tin-tuc/Hop-tac-xa-che-an-toan-Khe-Coc-huong-toi-phat-trien-du-lich-sinh-thai-1015.html" title="Hợp tác xã chè an toàn Khe Cốc hướng tới phát triển du lịch sinh thái"><img alt="Hợp tác xã chè an toàn Khe Cốc hướng tới phát triển du lịch sinh thái" src="/files/news/2021_09/2.jpg" width="200" class="img-thumbnail pull-left imghome" /></a>
                                    <h3><a href="/vi/news/Tin-tuc/Hop-tac-xa-che-an-toan-Khe-Coc-huong-toi-phat-trien-du-lich-sinh-thai-1015.html" title="Hợp tác xã chè an toàn Khe Cốc hướng tới phát triển du lịch sinh thái">Hợp tác xã chè an toàn Khe Cốc hướng tới phát triển du lịch sinh thái</a></h3>
                                    <p class="text-justify">Vùng chè Tức Tranh, huyện Phú Lương, tỉnh Thái Nguyên được thiên nhiên ưu ái ban tặng cho khí hậu thuận lợi và bao bọc bởi đồi núi, những khe suối nguồn tạo điều kiện cho cây chè phát triển, nâng cao chất lượng sản phẩm trà.</p>
                                </div>
                            </div>
                        </div>
                        <div class="news_column">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="/vi/news/Tin-tuc/Thu-tuong-Pham-Minh-Chinh-dang-huong-tuong-niem-Chu-tich-Ho-Chi-Minh-tai-Khu-di-tich-Quoc-gia-dac-biet-ATK-Dinh-Hoa-1014.html" title="Thủ tướng Phạm Minh Chính dâng hương tưởng niệm Chủ tịch Hồ Chí Minh tại Khu di tích Quốc gia đặc biệt ATK Định Hóa."><img alt="Thủ tướng Phạm Minh Chính dâng hương tưởng niệm Chủ tịch Hồ Chí Minh tại Khu di tích Quốc gia đặc biệt ATK Định Hóa." src="/files/news/2021_08/1_1.png" width="200" class="img-thumbnail pull-left imghome" /></a>
                                    <h3><a href="/vi/news/Tin-tuc/Thu-tuong-Pham-Minh-Chinh-dang-huong-tuong-niem-Chu-tich-Ho-Chi-Minh-tai-Khu-di-tich-Quoc-gia-dac-biet-ATK-Dinh-Hoa-1014.html" title="Thủ tướng Phạm Minh Chính dâng hương tưởng niệm Chủ tịch Hồ Chí Minh tại Khu di tích Quốc gia đặc biệt ATK Định Hóa.">Thủ tướng Phạm Minh Chính dâng hương tưởng niệm Chủ tịch Hồ Chí Minh tại Khu di tích Quốc gia đặc biệt ATK Định Hóa.</a></h3>
                                    <p class="text-justify">Ngày 3/9/2021, Đoàn công tác của Chính phủ do đồng chí Phạm Minh Chính, Ủy viên Bộ Chính trị, Thủ tướng Chính phủ làm Trưởng đoàn đã đến dâng hương tưởng niệm Chủ tịch Hồ Chí Minh tại Nhà tưởng niệm Chủ tịch Hồ Chí Minh trên đỉnh đèo De, xã Phú Đình, huyện Định Hóa, tỉnh Thái Nguyên.</p>
                                </div>
                            </div>
                        </div>
                        <div class="news_column">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="/vi/news/Tin-tuc/10-diem-den-du-lich-phuot-da-ngoai-ly-tuong-tai-Thai-Nguyen-1013.html" title="10 điểm đến du lịch phượt, dã ngoại lý tưởng tại Thái Nguyên"><img alt="10 điểm đến du lịch phượt, dã ngoại lý tưởng tại Thái Nguyên" src="/files/news/2021_08/1_1.jpg" width="200" class="img-thumbnail pull-left imghome" /></a>
                                    <h3><a href="/vi/news/Tin-tuc/10-diem-den-du-lich-phuot-da-ngoai-ly-tuong-tai-Thai-Nguyen-1013.html" title="10 điểm đến du lịch phượt, dã ngoại lý tưởng tại Thái Nguyên">10 điểm đến du lịch phượt, dã ngoại lý tưởng tại Thái Nguyên</a></h3>
                                    <p class="text-justify">Kỳ nghỉ lễ dài ngày 2/9 sắp đến, trước tình hình dịch bệnh Covid-19 diễn biến phức tạp, bạn muốn tìm những địa điểm trong tỉnh vừa có cảnh đẹp mà lại không bon chen, đông đúc. Dưới đây, chúng tôi xin giới thiệu 10 địa điểm du lịch phượt, dã ngoại lý tưởng tại Thái Nguyên để mọi người có thể tham khảo và lựa chọn, đảm bảo cho mình và gia đình có một kỳ nghỉ vui vẻ và an toàn.</p>
                                </div>
                            </div>
                        </div>
                        <div class="news_column">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="/vi/news/Tin-tuc/Chua-Hang-Tien-Lu-Phat-dong-1012.html" title="Chùa Hang – “Tiên Lữ Phật động”"><img alt="Chùa Hang – “Tiên Lữ Phật động”" src="/files/news/2021_08/113.png" width="200" class="img-thumbnail pull-left imghome" /></a>
                                    <h3><a href="/vi/news/Tin-tuc/Chua-Hang-Tien-Lu-Phat-dong-1012.html" title="Chùa Hang – “Tiên Lữ Phật động”">Chùa Hang – “Tiên Lữ Phật động”</a></h3>
                                    <p class="text-justify"></p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <h4>Các tin khác</h4>
                        <ul class="related">
                            <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Gao-nep-vai-On-Luong-va-nhung-thuc-qua-hap-dan-du-khach-1011.html" title="Gạo nếp vải Ôn Lương và những thức quà hấp dẫn du khách">Gạo nếp vải Ôn Lương và những thức quà hấp dẫn du khách <em>(22/08/2021)</em></a></li>
                            <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Ve-Phu-Binh-van-canh-chua-Khanh-Long-1010.html" title="Về Phú Bình vãn cảnh chùa Khánh Long">Về Phú Bình vãn cảnh chùa Khánh Long <em>(19/08/2021)</em></a></li>
                            <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Trai-nghiem-thu-vi-tai-vuon-na-La-Hien-1009.html" title="Trải nghiệm thú vị tại vườn na La Hiên">Trải nghiệm thú vị tại vườn na La Hiên <em>(17/08/2021)</em></a></li>
                            <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Chua-Huong-dau-an-cua-thoi-gian-1008.html" title="Chùa Huống dấu ấn của thời gian">Chùa Huống dấu ấn của thời gian <em>(16/08/2021)</em></a></li>
                            <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/TOP-12-DIEM-DEN-DU-LICH-HAP-DAN-TAI-THAI-NGUYEN-1007.html" title="TOP 12 ĐIỂM ĐẾN DU LỊCH HẤP DẪN TẠI THÁI NGUYÊN">TOP 12 ĐIỂM ĐẾN DU LỊCH HẤP DẪN TẠI THÁI NGUYÊN <em>(13/08/2021)</em></a></li>
                            <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Trien-lam-anh-truc-tuyen-Dai-tuong-Vo-Nguyen-Giap-voi-ATK-Thai-Nguyen-1006.html" title="Triển lãm ảnh trực tuyến&#x3A; “Đại tướng Võ Nguyên Giáp với ATK Thái Nguyên”">Triển lãm ảnh trực tuyến&#x3A; “Đại tướng Võ Nguyên Giáp với ATK Thái Nguyên” <em>(12/08/2021)</em></a></li>
                            <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/THUONG-THUC-NHAM-TRAM-TREN-DAT-HA-CHAU-1005.html" title="THƯỞNG THỨC NHAM TRÁM TRÊN ĐẤT HÀ CHÂU">THƯỞNG THỨC NHAM TRÁM TRÊN ĐẤT HÀ CHÂU <em>(10/08/2021)</em></a></li>
                            <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Thai-Nguyen-Phan-dau-den-nam-2025-hoan-thanh-ho-tro-5-mo-hinh-diem-ve-du-lich-cong-dong-1004.html" title="Thái Nguyên&#x3A; Phấn đấu đến năm 2025 hoàn thành hỗ trợ 5 mô hình điểm về du lịch cộng đồng">Thái Nguyên&#x3A; Phấn đấu đến năm 2025 hoàn thành hỗ trợ 5 mô hình điểm về du lịch cộng đồng <em>(03/08/2021)</em></a></li>
                            <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Trai-nghiem-tuyen-du-lich-lich-su-ket-hop-tam-linh-sinh-thai-tai-ATK-Dinh-Hoa-1003.html" title="Trải nghiệm tuyến du lịch lịch sử kết hợp tâm linh, sinh thái tại ATK Định Hóa">Trải nghiệm tuyến du lịch lịch sử kết hợp tâm linh, sinh thái tại ATK Định Hóa <em>(01/08/2021)</em></a></li>
                            <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Son-La-Phat-dong-Cuoc-thi-sang-tac-bieu-trung-va-khau-hieu-du-lich-1002.html" title="Sơn La&#x3A; Phát động Cuộc thi sáng tác biểu trưng và khẩu hiệu du lịch">Sơn La&#x3A; Phát động Cuộc thi sáng tác biểu trưng và khẩu hiệu du lịch <em>(29/07/2021)</em></a></li>
                        </ul>
                        <div class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a rel="next" title="Thông tin tổng hợp - Trang 2" href="/vi/news/page-2/">2</a></li>
                                <li><a rel="next" title="Thông tin tổng hợp - Trang 3" href="/vi/news/page-3/">3</a></li>
                                <li class="disabled"><span>...</span></li>
                                <li><a rel="next" title="Thông tin tổng hợp - Trang 190" href="/vi/news/page-190/">190</a></li>
                                <li><a rel="next" title="Thông tin tổng hợp - Trang 191" href="/vi/news/page-191/">191</a></li>
                                <li><a rel="next" title="Thông tin tổng hợp - Trang 192" href="/vi/news/page-192/">192</a></li>
                                <li><a rel="next" title="Thông tin tổng hợp - Trang 2" href="/vi/news/page-2/">&raquo;</a></li>
                            </ul>
                        </div>

                        <script type="text/javascript">
                            //<![CDATA[
                            $(document).ready(function () {
                                $("[data-rel='block_tooltip'][data-content!='']").tooltip({
                                    placement: "bottom",
                                    html: true,
                                    title: function () { return ($(this).data('img') == '' ? '' : '<img class="img-thumbnail pull-left margin_image" src="' + $(this).data('img') + '" width="90" />') + '<p class="text-justify">' + $(this).data('content') + '<\/p><div class="clearfix"><\/div>'; }
                                });
                            });
                            //]]>
                        </script>
                    </div>
                    @Html.Partial("~/Views/MenuRight/Index.cshtml")

                </div>
            </div>
        </section>
        @Html.Partial("~/Views/Footer/Index.cshtml")
    </div>
    <script src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/bootstrap.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        $('#bttop').click(function () {
            $('body,html').animate({ scrollTop: 0 }, 800);
        });
        //]]>
    </script>
    <script type="text/javascript">
        //<![CDATA[
        var mudim_showPanel = true;
        var mudim_displayMode = 1;
        var mudim_method = 2;
//]]>
    </script>
    <script src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/mudim.js"></script>
</body>
</html>